%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-
[
 { $app,
   [
    { mode, dev },
    { web_port, 3000 },
    { modes,
      [
       {live, [
              ]
       }
      ]
    }
   ]
 },

 {sasl,
  [
   {sasl_error_logger, false}
  ]},

 {lager,
  [
   {log_root, "log/$app"},
   {crash_log, "crash.log"},
   {crash_log_size, 10000000},
   {colored, true},
   {error_logger_hwm, undefined},
   {handlers, [
               %%{lager_console_backend, [debug, {lager_default_formatter, [time, color, " [",severity,"] \e[0m", message, "\r\n"]}]},
               {lager_console_backend, [debug, {lager_default_formatter, []}]},
               {lager_file_backend, [{file, "console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 20}]},
               {lager_file_backend,  [{file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 20}]}
              ]}
  ]}

].
